.outerContainer{
    padding-top: 20px;
    width: 150px;
    height: 100vh;
    position: fixed;
    box-shadow:  rgba(0, 0, 0, 0.33) 1cap 0px 25px 1px;
    border-right: 2px solid rgb(180, 180, 180);
    z-index: 999;
}
.itemText{
    display: inline;
    font-size: 0.76rem;
    color: rgb(103, 103, 103);
    font-weight: 500;
}
.itemContainer{
   margin-bottom: 18px;
   margin-left: 30px;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.itemIcon{
    color: rgb(32, 75, 122) ;
}
.activeText{
    color: black;
    font-weight: 500;
}
.activeBar{
    background: linear-gradient(90deg, hsla(190, 68%, 50%, 1) 0%, hsla(239, 34%, 47%, 1) 100%);
    width: 5px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 0px;
}