.outerContainer {
    padding-top: 20px;
    width: 150px;
    height: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.33) 1px 0px 25px 1px;
    border-right: 2px solid rgb(180, 180, 180);
    overflow-x: hidden;
    transition: width 0.3s ease;
    background-color: white !important;
  }
  
  .closed {
    width: 60px;
  }
  
  .open {
    width: 150px;
  }
  
  .toggleButton {
    display: flex;
    z-index: 1000;
    padding-left: 10px; 
    padding-bottom: 10px;
  }
  
  .toggleButton button {
    background-color: white;
    border: 0px;
    color: gray;
  }
  
  .toggleButton button svg {
    width: 25px;
    height: 25px;
  }
  
  .itemText {
    display: inline;
    font-size: 0.76rem;
    color: #3a3a3a;
    font-weight: 500;
    transition: opacity 0.3s ease;
  }
  
  .closed .itemText {
    opacity: 0;
  }
  
  .itemContainer {
    margin-bottom: 18px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .itemContainer:hover {
    background-color: #f1f1f1;
  }
  
  .itemIcon {
    color: rgb(32, 75, 122);
  }
  
  .activeText {
    color: black;
    font-weight: 500;
  }
  
  .activeBar {
    background: linear-gradient(90deg, hsla(190, 68%, 50%, 1) 0%, hsla(239, 34%, 47%, 1) 100%);
    width: 5px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 0px;
  }
  @media (max-width: 768px) {
    .toggleButton {
      padding-top: 30px;
    }
  }