.App {
    display: flex;
    flex-direction: column;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    flex: 1;
  }
  
  .content {
    height: 100%;
    background-color: #e8e8e8;
    margin-top: 45px;
    flex-grow: 1;
    margin-left: 250px;
    transition: margin-left 0.3s;
  }
  
  .sidebar-open .content {
    margin-left: 150px;
  }
  
  .sidebar-closed .content {
    margin-left: 60px;
  }
  
  @media (max-width: 768px) {
    .content {
      margin-top: 55px;
      margin-left: 60px;
    }
  }
  